.title{
    color: rgba(19, 123, 255);
    text-decoration: none;
    font-family: 'Glory', sans-serif;
    margin-top: 5%;
    margin-right: 70%;
}
.about{
    color: rgba(19, 123, 255);
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.76);
    font-family: 'Glory', sans-serif;
    font-size: large;
}