.WeatherApp{
  font-family: 'Glory', sans-serif;
  font-size: 60px;
  margin-right: 10px;
  color: rgba(19, 123, 255);
}
.About{
  font-family: 'Glory', sans-serif;
  color: rgba(19, 123, 255);
  position: absolute;
  margin-left: 210px;
}
.logo {
  right: 50px;
  width: 50px;
  height: 50px;
}

