.WeatherApp{
  font-family: 'Glory', sans-serif;
  font-size: 60px;
  margin-right: 10px;
  color: RGB(20, 123 , 254);
  transition:all .5s ease-in-out;
}
.WeatherApp:hover{
  color:rgba(0, 140, 255, 0.699);
}
.About{
  font-family: 'Glory', sans-serif;
  color: rgba(19, 123, 255);
  position: absolute; 
  margin-left: 200px; 
}
.logo {
  right: 50px;
  width: 50px;
  height: 50px;
}

.link{
  text-decoration: none;
}